@font-face {
  font-family: 'inter';
  src: url(assets/fonts/inter.ttf) format("ttf");
}

@font-face {
  font-family: 'interLight';
  src: url(assets/fonts/static/Inter-Light-slnt=0.ttf) format("ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.full-width-container {
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  /* width: 90%; */
  margin: 0 150px;
}

.cta {
  background: none;
  padding: 16px 40px;
  border-radius: 240px;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 240px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.cta:hover::before {
  left: 100%;
}

.cta:hover {
  opacity: .7;
  background: #2E4FFF;
  border: 2px solid transparent;
}

.magenta-cta {
  background: #ff005c;
  padding: 16px 40px;
  border-radius: 240px;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.blue-cta {
  background: #2E4FFF;
  padding: 16px 40px;
  border-radius: 240px;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.blue-cta.animate {
  border: 1px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.blue-cta.animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 240px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.blue-cta.animate:hover::before {
  left: 100%;
}

.blue-cta.animate:hover {
  opacity: .7;
  background: none;
  border: 1px solid #2E4FFF;
}

.magenta-cta.animate {
  border: 1px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.magenta-cta.animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 240px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.magenta-cta.animate:hover::before {
  left: 100%;
}

.magenta-cta.animate:hover {
  opacity: .7;
  background: none;
  border: 1px solid #ff005c;
  color: #050505;
}

header {
  height: 80px;
  background: #050505;
}

header > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .container nav {
  -ms-flex-preferred-size: 650px;
      flex-basis: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .container nav > a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin-left: 10px;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  opacity: 0;
  -webkit-animation: nav-links .3s forwards;
          animation: nav-links .3s forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

header > .container nav > a:nth-child(1) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

header > .container nav > a:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

header > .container nav > a:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

header > .container nav > a:nth-child(4) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

header > .container nav > a:nth-child(5) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

header > .container nav > a:nth-child(6) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

header > .container nav > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header > .container nav > a.blue-cta {
  padding: 10px 30px;
  font-size: 16px;
}

header > .container nav > a:hover::before {
  width: 100%;
  background: #ff005c;
}

section#hero {
  height: 700px;
  background: url(../assets/img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

section#hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#030303), to(rgba(3, 3, 3, 0.44)));
  background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0.44) 100%);
}

section#hero .container {
  height: 100%;
}

section#hero .content-wrapper {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

section#hero .content {
  position: absolute;
  top: 165px;
  left: 0;
  -webkit-transform: rotateX(-135deg) scale(0);
          transform: rotateX(-135deg) scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  -webkit-animation: hero 1s .5s forwards ease-out;
          animation: hero 1s .5s forwards ease-out;
}

section#hero .content h2 {
  font-size: 60px;
  color: white;
  line-height: 72px;
  font-weight: 500;
  margin: 10px 0 50px 0;
}

section#hero .content h5 {
  font-weight: 500;
  font-size: 24px;
  color: #ff005c;
  margin-bottom: 0;
}

section#hero .content .cta {
  margin-left: 20px;
}

section#quote {
  height: 1042px;
  background: linear-gradient(109.94deg, #112EC5 -0.28%, #D92057 126.51%);
}

section#quote .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -80px;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-perspective-origin: right;
          perspective-origin: right;
  margin: 0 -10px;
}

section#quote .cards .box-wrapper {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

section#quote .cards .box-wrapper:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

section#quote .cards .box-wrapper:hover > .box > .text-content {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

section#quote .cards .box-wrapper:nth-child(1) > .box {
  -webkit-animation-delay: 1066.66667ms;
          animation-delay: 1066.66667ms;
}

section#quote .cards .box-wrapper:nth-child(2) > .box {
  -webkit-animation-delay: 1333.33333ms;
          animation-delay: 1333.33333ms;
}

section#quote .cards .box-wrapper:nth-child(3) > .box {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

section#quote .cards .box {
  position: relative;
  margin: 0 10px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  border-radius: 16px;
  -webkit-clip-path: polygon(100% 90%, 100% 0, 0 0, 0 100%, 90% 100%);
          clip-path: polygon(100% 90%, 100% 0, 0 0, 0 100%, 90% 100%);
  -webkit-transform: rotateY(-33deg);
          transform: rotateY(-33deg);
  -webkit-animation: cards .4s forwards ease-out;
          animation: cards .4s forwards ease-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

section#quote .cards .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(22, 26, 37, 0.6)), color-stop(50%, rgba(22, 26, 37, 0)));
  background: linear-gradient(0deg, rgba(22, 26, 37, 0.6) 0%, rgba(22, 26, 37, 0) 50%);
}

section#quote .cards .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section#quote .cards .box .text-content {
  position: absolute;
  left: 30px;
  bottom: 35px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section#quote .cards .box .text-content h5 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: white;
}

section#quote .cards .box .text-content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFC700;
}

section#quote .quote {
  max-width: 960px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

section#quote .quote p {
  color: white;
}

section#quote .quote > div p {
  font-size: 16px;
  line-height: 150%;
}

section#quote .quote > div p:nth-child(3) {
  color: rgba(255, 255, 255, 0.6);
}

section#quote .quote.intersect {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#tuneup {
  height: auto;
}

section#tuneup .full-width-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#tuneup .video {
  width: 800px;
  height: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -100px;
  opacity: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  cursor: pointer;
}

section#tuneup .video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

section#tuneup .video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

section#tuneup .video #play-button-circle {
  width: 128px;
  height: 128px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

section#tuneup .video svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

section#tuneup .video img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

section#tuneup .video.intersect {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section#tuneup .video:hover #play-button-circle {
  -webkit-animation: playButton 1s linear infinite;
          animation: playButton 1s linear infinite;
}

section#tuneup .video:hover::before {
  height: 50%;
}

section#tuneup .video:hover::after {
  height: 50%;
}

section#tuneup .content {
  width: 680px;
  margin: 0 150px 0 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 100px;
  opacity: 0;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

section#tuneup .content h2 {
  font-size: 60px;
  color: #050505;
  line-height: 72px;
  font-weight: 500;
  margin-top: 20px;
}

section#tuneup .content h5 {
  font-weight: 500;
  font-size: 24px;
  color: #2E4FFF;
}

section#tuneup .content p {
  font-size: 18px;
  color: #394356;
  line-height: 150%;
  margin-top: 40px;
}

section#tuneup .content a {
  /* @include cta($magenta); */
  margin-top: 40px;
}

section#tuneup .content.intersect {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section#featured {
  padding: 150px 0;
}

section#featured h5 {
  font-weight: 500;
  font-size: 24px;
  color: #050505;
}

section#featured .featured-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#featured .featured-cards .box-wrapper {
  -ms-flex-preferred-size: 420px;
      flex-basis: 420px;
  height: 345px;
  overflow: hidden;
  position: relative;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  cursor: pointer;
}

section#featured .featured-cards .box-wrapper .box {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section#featured .featured-cards .box-wrapper.intersect:nth-child(1) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#featured .featured-cards .box-wrapper.intersect:nth-child(2) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#featured .featured-cards .box-wrapper.intersect:nth-child(3) {
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#featured .featured-cards .box-wrapper:hover .box {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: perspective(800px) rotateY(15deg);
          transform: perspective(800px) rotateY(15deg);
  opacity: .8;
}

section#featured .featured-cards .box-wrapper .top-image {
  height: 250px;
}

section#featured .featured-cards .box-wrapper .top-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 343px 2000px 373px 1910px / 1478px 358px 2000px 209px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section#featured .featured-cards .box-wrapper .text-content {
  margin-top: 15px;
}

section#featured .featured-cards .box-wrapper h5 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #050505;
}

section#newsletter {
  height: 800px;
  background: url(../assets/img/barbell.jpg);
  background-size: cover;
  background-position: center;
}

section#newsletter .container {
  height: 100%;
}

section#newsletter .content {
  width: 811px;
  position: absolute;
  top: 210px;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

section#newsletter .content.intersect {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section#newsletter .content h2 {
  font-size: 60px;
  color: white;
  line-height: 72px;
  font-weight: 500;
  margin: 10px 0 50px 0;
}

section#newsletter .content h5 {
  font-weight: 500;
  font-size: 24px;
  color: #ff005c;
  margin-bottom: 0;
}

section#newsletter .content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

section#newsletter .content .subscribe {
  position: relative;
  width: 413px;
  height: 54px;
  margin-top: 40px;
}

section#newsletter .content .subscribe input {
  width: 65%;
  height: 100%;
  border-radius: 240px 0 0 240px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #394356;
  padding: 10px 20px;
}

section#newsletter .content .subscribe .blue-cta {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  border-radius: 0 240px 240px 0;
}

section#bottom-cards {
  padding: 140px 0;
  background: #050505;
}

section#bottom-cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

section#bottom-cards .cards .box {
  text-align: center;
  border: 4px solid #2E4FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding: 80px 30px;
  margin: 0 10px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

section#bottom-cards .cards .box.intersect:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

section#bottom-cards .cards .box.intersect:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

section#bottom-cards .cards .box.intersect:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}

section#bottom-cards .cards .box img {
  max-height: 112px;
}

section#bottom-cards .cards .box .text-content {
  margin-top: 60px;
}

section#bottom-cards .cards .box .card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: white;
}

section#bottom-cards .cards .box .card-subtitle {
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFC700;
}

section#bottom-cards .cards .box p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

section#testimonial .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 0;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

section#testimonial .container.intersect {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#testimonial .container .testimonial {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  text-align: center;
}

section#testimonial .container .testimonial img {
  width: 200px;
  height: 45px;
}

section#testimonial .container .testimonial p {
  font-size: 16px;
  color: #394356;
  margin-top: 40px;
}

section#testimonial .container .testimonial:nth-child(3) img {
  position: relative;
  top: -10px;
}

footer {
  height: 100px;
  background: #050505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  font-size: 16px;
  color: white;
}

.modal {
  width: 800px;
  height: 650px;
  background: white;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.modal svg {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  cursor: pointer;
}

.modal svg:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.modal.open {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes nav-links {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-links {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hero {
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0) scale(1);
            transform: rotateX(0) scale(1);
  }
}

@keyframes hero {
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0) scale(1);
            transform: rotateX(0) scale(1);
  }
}

@-webkit-keyframes cards {
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes cards {
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@-webkit-keyframes playButton {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(201, 201, 201, 0.7);
            box-shadow: 0 0 0 0 rgba(201, 201, 201, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
            box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
  }
  80% {
    -webkit-box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
            box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
  }
  80% {
    -webkit-box-shadow: 0 0 0 0 rgba(201, 201, 201, 0);
            box-shadow: 0 0 0 0 rgba(201, 201, 201, 0);
  }
}

@keyframes playButton {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(201, 201, 201, 0.7);
            box-shadow: 0 0 0 0 rgba(201, 201, 201, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
            box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
  }
  80% {
    -webkit-box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
            box-shadow: 0 0 0 50px rgba(201, 201, 201, 0);
  }
  80% {
    -webkit-box-shadow: 0 0 0 0 rgba(201, 201, 201, 0);
            box-shadow: 0 0 0 0 rgba(201, 201, 201, 0);
  }
}
/*# sourceMappingURL=style.css.map */