@mixin cta($background-color) {
    background: $background-color;
    padding: 16px 40px;
    border-radius: 240px;
    color: white;
    display: inline-block;
}

@mixin title($color) {
    font-size: $title;
    color: $color;
    line-height: 72px;
    font-weight: 500;
}
@mixin subtitle($color: white) {
    font-weight: 500;
    font-size: $subtitle;
    color: $color;
}
@mixin card-title($color) {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color:  $color;
}
@mixin card-subtitle($color) {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $color;
}